beautifulsoup4>=4.12.3
google-api-python-client>=2.164.0
google-auth>=2.38.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.1
httplib2>=0.22.0
ollama>=0.4.7
PyAudio>=0.2.14
requests>=2.32.3
SpeechRecognition>=3.10.4
